.logo {
  display: flex;
  align-items: center;

  span {
    margin-right: 10px;
    font-size: 2rem;
  }
}

@media screen and (min-width: $vw-medium) {
  .logo {
    flex-direction: column;

    span {
      font-size: 3rem;
      margin-bottom: -10px;
    }

    &:hover {
      color: var(--color-bg-primary);
      transition: .3s all;
    }
  }


}